<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br>
        <img class="portrait" src="img/cab1729.jpg" alt="cab1729">
    </div>
    {{>footer}}
</body>

</html>